# Skopiuj ten plik jako .env.local i uzupełnij wartościami z Supabase
# Settings → API w panelu Supabase

NEXT_PUBLIC_SUPABASE_URL=https://sinycozqnbmpwrvircos.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_9W2Qat-nanE5CN3461YjDg_O27BCD6Y
